html{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
  border: 20px;
  border-radius: 20px;
  border-color: black;
  display: flex;
  justify-content: center;
}
input{
    display: flex;
    justify-content: center;
}
.bordo{
border-radius: 15px;
border: solid;
border-width: 1px;
border-color: rgb(129, 128, 128);
padding: 25px;

justify-items: center;
gap: 20px;
}

input:placeholder-shown{
    text-align: center;
    
}

button{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffd814;
    color: black;
    border: 0;
    border-radius: 50px;
    width: 200px;
}

input:focus{
    box-shadow: 0px 0px 8px rgb(56, 179, 169);
}

button:hover{
    background-color: #eac50c;
}

button:active{
    background-color: #eab60c;
}


